{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
            {{ $.Scratch.Set "tags" .Data.Terms.Alphabetical }}
        <ul class="posts">
            {{ $data := .Data }}

            <header>
                <h1>// {{ .Data.Plural }}</h1>
            </header>
            
            {{ $months := dict "01" "January" "02" "February" "03" "March" "04" "April" "05" "May" "06" "June" "07" "July" "08" "August" "09" "September" "10" "October" "11" "November" "12" "December" }}
            
            
            
            {{ $count := 0 }}
            {{ range $key, $value := $.Scratch.Get "tags" }}
            {{ $count = add $value.Count $count }}
                <li>
                    <article>
                        <header>
                            {{ if ne $value.Name "" }}
                                {{ $month := index $months $value.Name }}
                                <a href="{{"/" | relURL}}{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $month }}</a>
                                <span style="float:right;">({{ $value.Count }})</span>
                            {{ else }}
                                Uncategorized
                                <span style="float:right;">({{ $value.Count }})</span>
                            {{ end }}
                        </header>
                    </article>
                </li>
            {{ end }}
                <li>
                    &nbsp;
                    <span style="float: right;">({{$count}} posts)</span>
                    <span style="clear: both;;"></span>
                </li>
        </ul>
    </div>

    {{ $.Scratch.Set "showCategories" false }}
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
